// ABOUT PAGE
@import "./media";

.about {
  width: 60%;
  line-height: 3rem;
  flex-direction: column;
  @include sm {
    width: 85%;
  }

  > div {
    margin-top: 100px;
    width: 100%;
  }

  h2 {
    margin-top: 0;
  }

  .status {
    font-weight: 700;
    text-align: center;
    line-height: 2rem;
    font-size: 1.8rem;
    margin: 3rem 0;
    span {
      font-size: 1.5rem;
      font-style: italic;
    }
  }

  .description {
    margin-top: 15rem;
    div {
      margin-top: 5rem;
    }

    .linkToProfile {
      font-style: italic;

      span {
        cursor: pointer;
        font-weight: 800;
      }
    }
  }
  .skills > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    div {
      flex: 0 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin: 1rem 0;
      @include sm {
        flex: 0 0 33%;
      }

      p {
        margin-top: 0px;
        text-align: center;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex: 1;
        img {
          max-width: 50%;
          max-height: 6rem;
        }
      }
    }
  }

  $hobbies-col-number: 3;
  @include sm {
    $hobbies-col-number: 2;
  }

  $hobbies-gutter: 6px;
  $picture-size: calc(
    100% - ((#{$hobbies-col-number} - 1) * #{$hobbies-gutter})
  );

  .hobbies {
    .masonry {
      margin: 3rem auto;
    }
    .itemHobbies {
      background-position: center;
      background-size: cover;
      padding: 3rem;
      text-align: center;

      &:hover:before {
        content: attr(data-before);
        background: #f9f8f5fa;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
      }
    }
  }
}
