/* HOMEPAGE CONTENT */

.homepageContent {
  width: 60%;
  div {
    margin-left: 30px;
  }
  h2 {
    line-height: 36px;
    color: #319bdb;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
  }
  p {
    line-height: 30px;
  }
  .status {
    font-size: 14px;
    font-weight: 700;
  }
}
