@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trochut:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://use.typekit.net/mym6tgu.css");

@import "./about";
@import "./burger";
@import "./homepageContent";
@import "./projectsList";
@import "./uniqueProject";
@import "./contactContent";

@import "./media";

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f9f8f5;
  font-size: 1.6rem;
}

main {
  margin: auto;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 8vh;
}

h1 {
  font-family: "Trochut", serif;
  font-weight: bold;
  font-size: 7rem;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #222725;
  width: 100%;
  line-height: 6.5rem;
}

h2 {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin-top: 5rem;
  text-transform: uppercase;
  width: 100%;
}

h3 {
  font-family: "Muli", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin-top: 5rem;
  text-transform: uppercase;
  width: 100%;
}

p {
  font-family: "Muli", sans-serif;
  color: #333;
  font-size: 1.6rem;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
